<div class="container col-xxl-8 px-4 py-2 smooth-scroll ">
    <div class="py-5">
        <hr class="featurette-divider mb-6">
        <p class="font-monospace">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg>
            Contact me
        </p> 
        <div class="display-5 fw-bold text-white bg-dark text-secondary text-center">
            <h2 class="display-6 lead text-bold"> Contact me</h2>
        </div>
        <div class="col-lg-6 mx-auto ">
            <p class="fs-5 mb-4 text-center font-monospace">
                If you are looking to hire a Full Stack Developer Trainee
                
            </p>
            <p class="fs-5 mb-4 text-center font-monospace">
                I'm currently avaliable for work
            </p>
        </div> 
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" >
            <a class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="text-decoration: none; color: #000;" target="_blank" href="mailto:facusaldaa@proton.me?Subject=FullStack Developer">
                <button class="btn btn-secondary bg-dark text-secondary"  >
                    ✉️ facusaldaa@proton.me
                </button> 
            </a>
        </div>   
    </div>
</div>

