<div class="container col-xxl-8 px-4 py-2 smooth-scroll">
    <hr class="featurette-divider mb-6">
    <p class="font-monospace">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
          </svg>
        Technologies that I use
    </p>
    <div class="text-center d-flex justify-content-sm-center ">
            <div class="" >
                <p class="display-6 lead font-monospace ">Frontend</p>
                <div class="hstack gap-3 p-2">
                    <img src="../assets/skills/icons8-angularjs-144.png" title="Angular"  loading="lazy" width="55" height="55" placeholder="Angular"alt="">
                    <img src="../assets/skills/icons8-bootstrap-144.png" title="Bootstrap" loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-javascript-144.png" title="JavaScript"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-typescript-144.png" title="TypeScript"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-tailwindcss-96.png" title="TailwindCSS"  loading="lazy" width="55" height="55" alt="">
                </div>
                <p class="display-6 lead font-monospace ">Backend</p>
                <div class="hstack gap-3 p-2">
                    <img src="../assets/skills/icons8-nodejs-144.png"  title="NodeJS" loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-java-144.png" title="Java"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-amazon-web-services-96.png" title="AWS Services"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-docker-96.png" title="Docker"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-spring-boot-96.png" title="Spring Boot"  loading="lazy" width="55" height="55" alt="">
                </div>
                <p class="display-6 lead font-monospace ">Databases</p>
                <div class="hstack gap-3 p-2 ">
                    <img src="../assets/skills/icons8-mysql-100.png" title="MySQL"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-mongodb-144.png" title="MongoDB"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-mariadb-144.png" title="MariaDB"  loading="lazy" width="55" height="55" alt="">
                </div>
                <p class="display-6 lead font-monospace ">Other</p>
                <div class="hstack gap-3 p-2 ">
                    <img src="../assets/skills/icons8-adobe-illustrator-144.png" title="Illustrator"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-git-144.png" title="GitLab/ GitHub"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-adobe-premiere-pro-144.png" title="Premiere"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-linux-96.png" title="GNU-Linux"  loading="lazy" width="55" height="55" alt="">
                    <img src="../assets/skills/icons8-windows-10-144.png" title="Windows OS"  loading="lazy" width="55" height="55" alt="">
                </div>
            </div>
    </div>
</div>
