<div class="container col-xxl-8 px-4 py-2 bd-example smooth-scroll">
    <hr class="featurette-divider mb-6 ">
    <p class="font-monospace">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
          </svg>
        Featured Work
        <a  *ngIf="isAdmin" (click)="onOpenModal(null!,'add')" class="btn btn-sm btn-outline-success font-monospace" data-bs-toggle="modal" data-bs-target="#addProjectModal">
            + Project
        </a>
    </p>
    <div class="album py-5 bg-dark main-cointainer">
        <div  class="container " >
            <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div *ngFor="let proj of projects" class="col" >
        <div  class="  container " >
            <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
                <div *ngFor="let proj of projects" class="col ">

                    <a  *ngIf="isAdmin" (click)="onOpenModal(proj, 'edit')" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#updateModalProject" data-placement="top" data-original-title="Edit" >Edit </a>
                    <a  *ngIf="isAdmin" (click)="onOpenModal(proj, 'delete')" class="btn btn-sm btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#deleteModeProject" data-placement="top" data-original-title="Delete">Delete</a>
                    <div class="card shadow-sm ">
                        <img src="{{proj?.imageReference}}" width="100%" height="375" loading="lazy" alt="" class="w-100 hover-shadow" style="object-fit:scale-down">

                    </div>
                    <div class="card-body" >
                        <p class="cart-text font-monospace" > {{proj?.description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group" >
                                <a class="btn btn-sm btn-outline-secondary font-monospace" type="button" target="_blank" href={{proj.linkDeploy}}  >See Deploy </a>
                                <a class="btn btn-sm btn-outline-secondary font-monospace" type="button" target="_blank" href={{proj.linkRepo}}  >See Repo </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

<!-- AddTimelineItem Modal  -->
<div class="modal fade " id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModal" >
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="addProjectModal">Add Project Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddProject(addForm)">
            <div class="form-group">
               <label for="name">Link de Image Reference</label>
               <input type="text" ngModel name="imageReference" class="form-control" id="imageReference" placeholder="Image Description" required>
            </div>
            <input type="hidden" name="id" ngModel="{{3}}" id="id">
            <!-- <input type="hidden" name="projectCode" ngModel="{{3}}" id="id"> -->
            <div class="form-group">
              <label for="description">Brief Description</label>
              <input type="text" ngModel name="description" class="form-control" id="description" placeholder="A brief description" required>
           </div>
            <div class="form-group">
               <label for="Deploy">Deploy Link</label>
               <input type="text" ngModel name="linkDeploy" class="form-control" id="linkDeploy" placeholder="Link to deploy" required>
            </div>
            <div class="form-group">
              <label for="projectGit">Repository Project Link</label>
              <input type="text" ngModel name="linkRepo" class="form-control" id="linkRepo" placeholder="Link to Repository" required>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
   <!-- EditTimelineItem Modal  -->
   <div class="modal fade " id="updateModalProject" tabindex="-1" aria-labelledby="updateModalProject" >
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalProject">Update Project Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
               <label for="image">Image Reference</label>
               <input type="text" ngModel="{{editProjects?.imageReference}}" name="imageReference" class="form-control" id="imageReference" placeholder="Image of Project">
            </div>
            <input type="hidden" name="id" ngModel="{{editProjects?.id}}" id="id">
            <!-- <input type="hidden" name="projectCode" ngModel="{{editProjects?.projectcode}}" id="projectCode"> -->
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" ngModel="{{editProjects?.description}}" name="description" class="form-control" id="description" placeholder="Brief description of the work" >
             </div>
            <div class="form-group">
              <label for="deploy">Link Deploy</label>
              <input type="text" ngModel="{{editProjects?.linkDeploy}}" name="linkDeploy" class="form-control" id="linkDeploy" placeholder="Link Deploy" >
           </div>
            <div class="form-group">
               <label for="repo">Link Repository</label>
               <input type="text" ngModel="{{editProjects?.linkRepo}}" name="linkRepo" class="form-control" id="linkRepo" placeholder="Link Repository" >
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <a type="button" id=""class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
          <a (click)="onUpdateProject(editForm.value)"  class="btn btn-primary" data-bs-dismiss="modal">Save changes</a>
        </div>
      </div>
    </div>
   </div>


  <!-- Delete Modal -->
  <div class="modal fade " id="deleteModeProject" tabindex="-1" aria-labelledby="deleteModeProject" >
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModeProject">delete Timeline Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p><strong>Are you sure you want to delete timeline item when you were a  <mark style="color: #29be35">{{deleteProjects?.description}}?</mark></strong></p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteProject(deleteProjects.id)" class="btn btn-danger" data-dismiss="modal" data-bs-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
  </div>


</div>






