<div class="container col-xxl-8 px-4 py-2 smooth-scroll ">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
       <div class="col-md-4 d-flex align-items-center">
            <a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1 text-center" href="/">
                <span class="text-muted font-monospace">
                    Facundo Saldaña © All Rights Reserved 2023
                </span>
            </a>
       </div>
       <ul class="nav col-md-3 justify-content-end list-unstyled d-flex mask ul-on-center ">
            <li class="ms-3 ">
                <a class="text-muted cursor-pointer "href="/">
                    <img src="../assets/socials/icons8-linkedin-50.png" href="/" class="pe-auto"   loading="lazy" width="35" height="35" alt=""  href="#!"  onclick="window.open('https://www.linkedin.com/in/facu-saldaa/')">
                </a>
            </li>
            <li class="ms-3 " >
                <a class="text-muted" href="/">
                    <img src="../assets/socials/icons8-github-48.png" href="/" class="pe-auto"  loading="lazy" width="35" height="35" alt="" href="#!"  onclick="window.open('https://github.com/fcxS')">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="/">
                    <a class="text-muted " href="/">
                        <img src="../assets/socials/icons8-gitlab-64.png" href="/"  loading="lazy" width="35" height="35" alt="" href="#!"  onclick="window.open('https://gitlab.com/fcx')">
                    </a>
                </a>
            </li>
        </ul>
    </footer>
</div>
