<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-1 mb-5 border-bottom text-white bg-dark"
  >
    <a
      class="d-flex align-items-center mb-1 mb-md-0 me-md-auto text-white bg-dark text-decoration-none"
      routerLink=""
    >
      <!-- <span class="fs-4 ps-3">Facundo</span> -->
      <span
        class="logo absolute d-none d-sm-inline navbar-brand mt-2 mt-lg-0 p-1"
      >
        <!-- <img
          src="https://i.imgur.com/I27NEpj.png"
          loading="Lazy"
          alt="argPro"
          width="100"
        /> -->
        <a href="#home" class="font-monospace text-decoration-none fs-4">
          FacuFacu</a
        >
      </span>
    </a>

    <ul class="nav nav-pills p-3">
      <li class="nav-item">
        <a class="nav-link font-monospace" href="#about"> About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-monospace" href="#work"> Work </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-monospace" href="#skills">Skills </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-monospace" href="#contacto">Contact</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link font-monospace" routerLink="login"> Login </a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogout()">
        <a class="nav-link active font-monospace" href="#"> Logout </a>
      </li>
    </ul>
  </header>
</div>
