<div>
    <app-main-section id="about"></app-main-section>
    <app-proyect-cards id="work"></app-proyect-cards>
    <app-technologies id="skills"></app-technologies>
    <app-timeline id="timeline"></app-timeline>
    <app-contact id="contacto"></app-contact>
</div>