
<div class="smooth-scroll">
    <app-header id="home"></app-header>
    
    <div>
        <router-outlet></router-outlet>
        <router-outlet name="secondary"></router-outlet>
    </div>
    <app-footer></app-footer>
    
</div>






