<form #f="ngForm" *ngIf="!isLogged">
  <div class="container py-5 h-100 font-monospace">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your username and password!</p>

              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeEmailX">Username </label>
                <input type="text" name="nombreUser" id="nombreUser" [(ngModel)]="nombreUser" class="form-control form-control-lg" required>      
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typePasswordX">Password </label>
                <input type="password" name="password"id="password" [(ngModel)]="password" class="form-control form-control-lg" required>
              </div>

              <button class="btn btn-outline-light btn-lg px-5" [disabled]="!f.valid" type="submit" (click)="onLogin()"   novalidate>Login</button>

              <div *ngIf="isLoginFail" class="p-5">
                <p  class="alert alert-danger" role="alert"> Login Failed, Wrong Credentials </p>
              </div>
             
            </div>
            <button type="button" class="btn   btn-outline-secondary" routerLink="/" > Go home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div *ngIf="isLogged" class="container py-5 h-100 text-center justify-content-center ">
  <button  type="button" class="btn btn-success" routerLink="/"> Login Succesful , Go Home </button>
</div>
