<div class="container text-center">
    <h2>Page Not Found</h2>
    <p>We couldn't find that page! Not even with x-ray vision.</p>
    <button class="btn btn-sm btn-outline-secondary font-monospace" routerLink=""> Volver al inicio </button>
</div>