<div  class="container col-xxl-8 px-4 py-2 smooth-scroll font-monospace ">
   <hr class="featurette-divider mb-6">

   <p class="font-monospace py-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
      </svg>
      A brief History summary
      <!-- Button trigger modal -->
      <a *ngIf="isAdmin" (click)="onOpenModal(null!,'add')" class="btn btn-sm btn-outline-success font-monospace" data-bs-toggle="modal" data-bs-target="#addTimelineModal">
        + Experience
      </a>
    </p>



    <div *ngFor="let tLine of timelines "  class="container py-0" >

       <div  class="main-timeline">
           <div [ngClass]="isEven(tLine.id) === 'Even' ? 'timeline right'  : 'timeline left' " >
               <div class="card text-muted bg-transparent mb-3 border border-white">
                   <div class="card-body p-4 ">
                       <h3 class="fw-bold font-monospace">{{tLine?.anio}} - {{tLine?.mes}}</h3>
                       <h4 class="fw-bold font-monospace">{{tLine?.puesto}}</h4>
                       <p class="text-muted mb-2 mb-0 font-monospace">{{tLine?.description}}</p>

                       <a *ngIf="isAdmin" (click)="onOpenModal(tLine, 'edit')" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#updateModalLabel" data-placement="top" data-original-title="Edit" >Edit </a>
                       <a *ngIf="isAdmin" (click)="onOpenModal(tLine, 'delete')" class="btn btn-sm btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#deleteModelLabel" data-placement="top" data-original-title="Delete">Delete</a>
                   </div>
               </div>
           </div>
       </div>

</div>




 <!-- AddTimelineItem Modal  -->
 <div class="modal fade " id="addTimelineModal" tabindex="-1" aria-labelledby="addModalLabel" >
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Timeline Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddtimeline(addForm)">
          <div class="form-group">
             <label for="name">Month</label>
             <input type="text" ngModel name="mes" class="form-control" id="month" placeholder="Month" required>
          </div>

          <div class="form-group">
            <label for="name">Year</label>
            <input type="text" ngModel name="anio" class="form-control" id="year" placeholder="Year" required>
         </div>
          <div class="form-group">
             <label for="phone">Ocupation</label>
             <input type="text" ngModel name="puesto" class="form-control" id="jobTile" placeholder="Job title" required>
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" ngModel name="description" class="form-control" id="desciption" placeholder="Brief description of job" required>
         </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- EditTimelineItem Modal  -->
 <div class="modal fade " id="updateModalLabel" tabindex="-1" aria-labelledby="updateModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Timeline Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
             <label for="name">Month</label>
             <input type="text" ngModel="{{editTimeline?.mes}}" name="mes" class="form-control" id="month" placeholder="Month">
          </div>
          <input type="hidden" name="id" ngModel="{{editTimeline?.id}}" id="id">
          <input type="hidden" name="timelinecode" ngModel="{{editTimeline?.timelinecode}}" id="id">
          <div class="form-group">
            <label for="name">Year</label>
            <input type="text" ngModel="{{editTimeline?.anio}}" name="anio" class="form-control" id="year" placeholder="Year" >
         </div>
          <div class="form-group">
             <label for="phone">Ocupation</label>
             <input type="text" ngModel="{{editTimeline?.puesto}}" name="puesto" class="form-control" id="jobTile" placeholder="Job title" >
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" ngModel="{{editTimeline?.description}}" name="description" class="form-control" id="desciption" placeholder="Brief description of job" >
         </div>
        </form>

      </div>
      <div class="modal-footer">
        <a type="button" id=""class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
        <a (click)="onUpdatetimeline(editForm.value)"  class="btn btn-primary" data-bs-dismiss="modal">Save changes</a>
      </div>
    </div>
  </div>
 </div>


<!-- Delete Modal -->
<div class="modal fade " id="deleteModelLabel" tabindex="-1" aria-labelledby="deleteModelLabel" >
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">delete Timeline Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <p><strong>Are you sure you want to delete timeline item when you were a  <mark style="color: #29be35">{{deleteTimeline?.puesto}}?</mark></strong></p>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteTimeline(deleteTimeline.id)" class="btn btn-danger" data-dismiss="modal" data-bs-dismiss="modal">Yes</button>
         </div>
      </div>
   </div>
</div>
</div>





















</div>



