<div class="container col-xxl-8 px-4 py-2 smooth-scroll">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../assets/fafu.png"
        class="d-block img-fluid img-thumbnail rounded"
        alt="Facu Image"
        loading="lazy"
        width="300"
        height="140"
      />
    </div>
    <div class="col-lg-4">
      <h1 class="display-5 fw-bolder lh-1 mb-3 pl font-monospace">
        Hi,I'm Facu
      </h1>
      <h2 class="display-6 fw-bold lh-1 mb-2 text-muted font-monospace">
        A Full Stack Developer
      </h2>
      <p class="lead text-muted font-monospace">
        Passionate about <span>Computers</span> and everything related to modern technology. My skills include <span >Front-End</span> and <span >Back-End</span> software development which allows me to build applications from scratch and scale them globally. I took many courses but mainly I taught myself. I also have a background in computer repair and image/video editing.
      </p>
      <div
        class="d-grid gap-2 d-md-flex justify-content-md-start font-monospace"
      >
        <button
          class="btn btn-dark btn-outline-secondary btn-sm px-4"
          type="button"
          onclick="window.open('https://drive.proton.me/urls/9WJVAEW1Z0#MzhfzKPCb1Nc')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-cloud-arrow-down"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"
            />
            <path
              d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
            />
          </svg>
          Download CV
        </button>
      </div>
    </div>
  </div>
</div>

<!--
px-3 content-center

<p class="lead">
            <a routerLink="../mainSection" class="btn  btn-secondary fw-bold border-white mb-1">
            <p class="mb-4 mb-md-0">✉️facusaldaa@protonmail.com</p>
            </a>
</p>-->
